---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
// @import "minimal-mistakes/skins/aqua"; // skin : https://mmistakes.github.io/minimal-mistakes/docs/configuration/
@import "minimal-mistakes";

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);


// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#customizing
// $sans-serif: 'Noto Sans KR';
$sans-serif: 'Source Sans Pro';
$monospace: 'Ubuntu Mono';
//$monospace: 'D2 Coding';
$type-size-4-5: 1.12em !default; // Ubuntu Mono is a bit small

// https://github.com/mmistakes/minimal-mistakes/issues/1219
html {
  font-size: 12px; // change to whatever
  //font-size: 11px; // change to whatever
  
  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
    //font-size: 13px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
    //font-size: 15px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
    //font-size: 17px; // change to whatever
  }
}

.highlight {
  font-family: $monospace;
  font-size: $type-size-4-5;
}

.language-plaintext {
  font-family: $monospace;
  font-size: $type-size-5;
  background: #c0ffee;
}
